/**
 * Theme Name: Ink - Child Theme
 * Theme URI: https://codestag.com/themes/ink
 * Author: Codestag
 * Author URI: http://codestag.com
 * Description: A Modern and Elegant Photography theme for WordPress.
 * Version: 1.0.0
 * License: GNU General Public License
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: stag
 * Domain Path: /languages/
 * Tags: Tags: theme-options, fluid-layout, editor-style, featured-images, translation-ready
 * Template: ink
 */

/**
 * Place Custom CSS Below this.
 */
